<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aptitude Plus - Page 9</title>
    <style>
        <%- customFonts %><%- customCSS %>
    </style>
</head>

<body>
    <div style="background:#fff;">
        <div style="padding-top:75px;">
            <p
                style="font-family:'Noto Sans KR', sans-serif;color:#391A56;font-size:20px;text-align:center;line-height:1.8em;font-weight:800;">
                References
            </p>
        </div>

        <div style="margin-left:140px;margin-right:100px;margin-top:20px;">
            <ul
                style="text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;list-style:none;font-weight: 200;">
                <li style="padding-bottom:3px;padding-left:-3px;">1.&nbsp;Aguilera M et al., Am J Med Genet B
                    Neuropsychiatr Genet.2008 Sep 5;147B(6):898-902</li>
                <li style="padding-bottom:3px;padding-left:-3px;">2.&nbsp; Armstrong P et al., J. Couns. Psychol. 2008
                    Jan;55(1):1-18</li>
                <li style="padding-bottom:3px;padding-left:-3px;">3.&nbsp; David M et al., J. Vocat. Behav. 1995
                    Feb;46(1):89-108 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">4.&nbsp; de Moor MH et al., Mol Psychiatry. 2012
                    Mar;17(3):337-49 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">5.&nbsp; Denk AE et al., Arthritis Res Ther.
                    2010;12(2):R45</li>
                <li style="padding-bottom:3px;padding-left:-3px;">6.&nbsp;
                    http://www.wiu.edu/advising/docs/Holland_Code.pdf </li>
                <li style="padding-bottom:3px;padding-left:-3px;">7.&nbsp; https://career.berkeley.edu/Plan/Clarity
                </li>
                <li style="padding-bottom:3px;padding-left:-3px;">8.&nbsp;
                    https://money.usnews.com/careers/best-jobs/rankings/the-100-best-jobs </li>
                <li style="padding-bottom:3px;padding-left:-3px;">9.&nbsp;
                    https://pages.jh.edu/~gazette/2008/15dec08/15holland.html</li>
                <li style="padding-bottom:3px;padding-left:-3px;">10.&nbsp;ISBN-13: 9780135478288 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">11.&nbsp;Landi N et al., Dev Sci. 2013 Jan;16(1):13-23
                </li>
                <li style="padding-bottom:3px;padding-left:-3px;">12.&nbsp;Li J et al., Neuroimage. 2015 Aug
                    15;117:184-90 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">13.&nbsp; Mamiya PC et al., Proc Natl Acad Sci U S A.
                    2016 Jun 28;113(26):7249-54 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">14.&nbsp; Qi Y et al., Creat. Res. J. 2017
                    Jun;29(2):108-113 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">15.&nbsp; Wichers M et al., Neuropsychopharmacology.
                    2008 Dec;33(13):3030-6 </li>
                <li style="padding-bottom:3px;padding-left:-3px;">16.&nbsp;
                    http://Wiu.edu/advising/docs/Holland_Code.pdf</li>
            </ul>
        </div>

        <section>
            <!-- footer -->
            <footer>
                <table
                    style="margin-top:600px;margin-left:50px;margin-right:5px; border-top: 0.2px solid #391A56;width:87%;">
                    <tr>
                        <td style="width:80%;">
                            <p
                                style="font-family: 'Montserrat Alternates', sans-serif;color:#391a56;font-size:13px;font-weight: 600;margin:10px 0px 0px 0px;padding:0px;">
                                Aptitude Plus</p>
                        </td>
                        <td>
                            <p
                                style="font-family:'Georgia', sans-serif;font-style:italic;color:#5E5E5E;font-size:14px;text-align:right;padding-right:10px;margin:5px 0px 0px 0px;padding:0px;">
                                9</p>
                        </td>
                    </tr>
                </table>
            </footer>
        </section>
    </div>
</body>

</html>