<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aptitude Plus - Page 8</title>
    <style>
        <%- customFonts %><%- customCSS %>
    </style>
</head>

<body>
    <div>
        <div style="padding-top:75px;">
            <p
                style="font-family:'Noto Sans KR', sans-serif;color:#391A56;font-size:20px;text-align:center;line-height:1.8em;font-weight:800;">
                Aptitude, Major and Career based on Interest Type
            </p>
        </div>

        <!-- table-->
        <table
            style="width:80%;margin-left:80px;margin-right:110px;margin-top:20px;border:1px solid #C2C2C2;border-collapse:collapse;border-radius:15px;">
            <tr style="background:#F1F9FF;">
                <td
                    style="width:5px;text-align:left;font-size:13px;font-family:'Noto Sans KR', sans-serif; font-weight:400;color:#262626;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:8px;padding-bottom:8px;padding-left:15px;">
                    Interest <br>Type</td>
                <td
                    style="width:80px;text-align:left;font-size:13px;font-family:'Noto Sans KR', sans-serif; font-weight:400;color:#262626;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-left:-8px;">
                    Aptitude</td>
                <td
                    style="width:100px;text-align:left;font-size:13px;font-family:'Noto Sans KR', sans-serif; font-weight:400;color:#262626;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-left:-8px;">
                    Characteristic</td>
                <td
                    style="width:100px;text-align:left;font-size:13px;font-family:'Noto Sans KR', sans-serif; font-weight:400;color:#262626;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-left:-8px;">
                    Major</td>
                <td
                    style="width:110px;text-align:left;font-size:13px;font-family:'Noto Sans KR', sans-serif; font-weight:400;color:#262626;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-left:-8px;">
                    Career</td>
            </tr>

            <!-- realistic -->
            <tr style="background:#Ffffff;">
                <td
                    style="width:5px;height:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:15px;">
                    Realistic (R)</td>
                <td
                    style="width:80px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:-8px;">
                    Technical <br>Ability</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Honest, Active,<br>
                    Frugal, Reticent</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Engineering,<br>
                    Agriculture and<br>
                    Stock Breeding,<br>
                    Phsysical Education,<br>
                    Technology
                </td>
                <td
                    style="width:110px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Technician, Mechanical<br>
                    or Electronic Engineer,<br>
                    Navigator, Pilot,<br>
                    Sportsman
                </td>

            </tr>
            <!-- investigatiive -->
            <tr style="background:#Ffffff;">
                <td
                    style="width:5px;height:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:15px;">
                    Investi-<br>gative (I)</td>
                <td
                    style="width:80px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:-8px;">
                    Academic <br>Ability</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Inqusitive, Logical,
                    <br> Analytical, Scholarly
                </td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Natural Science,<br>
                    Medicine,<br>
                    Engineering,<br>
                    Social Sciences
                </td>
                <td
                    style="width:110px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Scientist, Mathematician,<br>
                    Doctor, Dentist,<br>
                    Robot Engineer,<br>
                    Sociologist, Psychologist,<br>
                    Economist, Professor
                </td>

            </tr>

            <!-- Artistic -->
            <tr style="background:#Ffffff;">
                <td
                    style="width:5px;height:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:15px;">
                    Artistic (A) </td>
                <td
                    style="width:80px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:-8px;">
                    Artisitic <br>Ability</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Imaginative,<br>
                    Sentimental,<br>
                    Free-spirited,<br>
                    Creative
                </td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Fine Arts,<br>
                    Industry Arts,<br>
                    Performing Arts<br>
                </td>
                <td
                    style="width:110px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Artist, Graphic Designer,<br>
                    Interior Designer,<br>
                    Dancer, Entertainer,<br>
                    Writer
                </td>

            </tr>

            <!-- social -->
            <tr style="background:#Ffffff;">
                <td
                    style="width:5px;height:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:15px;">
                    Social (S)
                </td>
                <td
                    style="width:80px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:-8px;">
                    Interpersonal <br>Ability</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Kind, Emphathetic,<br>
                    Social, Understanding</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Social Sciences,<br>
                    Education,<br>
                    Tenology, Nursing
                </td>
                <td
                    style="width:110px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Teacher, Pastor,<br>
                    Counsellor, Social Worker,<br>
                    Nurse, Personal Trainer<br>
                </td>

            </tr>

            <!-- enterprising -->
            <tr style="background:#Ffffff;">
                <td
                    style="width:5px;height:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:15px;">
                    Enter-<br>prising (E)</td>
                <td
                    style="width:80px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:-8px;">
                    Operational<br>Ability</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Leader, Pursuasive,<br>
                    Competitive,<br>
                    Extroverted
                </td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Law,<br>
                    Social Sciences,<br>
                    Commerce and<br>
                    Economics
                </td>
                <td
                    style="width:110px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Businessman, Attorney,<br>
                    Lawyer,<br>
                    Real Estate Manager,<br>
                    Insurance Manager
                </td>

            </tr>

            <!-- conventional -->
            <tr style="background:#Ffffff;">
                <td
                    style="width:5px;height:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:15px;">
                    Conven-<br>tional (C)</td>
                <td
                    style="width:80px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.1em;padding-top:15px;padding-left:-8px;">
                    Office<br>Ability</td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Responsible,<br>
                    Conservative,<br>
                    Strategic, Efficient
                </td>
                <td
                    style="width:100px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Commerce and<br>
                    Economics,<br>
                    Administration,<br>
                    Law, Information<br>
                    Technology
                </td>
                <td
                    style="width:110px;text-align:left;font-size:11px;font-family:'Noto Sans KR', sans-serif;color:#5E5E5E;vertical-align: top;border-bottom:1px solid #C2C2C2;line-height:1.6em;padding-top:15px;padding-left:-8px;">
                    Accountant,<br>
                    Tax accountant,<br>
                    Librarian
                </td>
            </tr>
        </table>

        <section>
            <!-- footer -->
            <footer>
                <table
                    style="margin-top:-20px;margin-left:50px;margin-right:5px; border-top: 0.2px solid #391A56;width:87%;">
                    <tr>
                        <td style="width:80%;">
                            <p
                                style="font-family: 'Montserrat Alternates', sans-serif;color:#391a56;font-size:13px;font-weight: 600;margin:10px 0px 0px 0px;padding:0px;">
                                Aptitude Plus</p>
                        </td>
                        <td>
                            <p
                                style="font-family:'Georgia', sans-serif;font-style:italic;color:#5E5E5E;font-size:14px;text-align:right;padding-right:10px;margin:5px 0px 0px 0px;padding:0px;">
                                8</p>
                        </td>
                    </tr>
                </table>
            </footer>
        </section>
    </div>
</body>

</html>